In [8]:
import requests
from bs4 import BeautifulSoup

In [ ]:
page = requests.get("https://www.flipkart.com/search?q=iphone&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off")
page.content

In [ ]:
soup = BeautifulSoup(page.content,'html.parser')
print(soup.prettify())

In [16]:
mobiles = soup.find_all('div', class_='_13oc-S')
print(len(mobiles))

24

In [37]:
names=[]
prices=[]
roms=[]
front_camera=[]
for mobile in mobiles:
  name = mobile.find('div', class_='_4rR01T').text
  price = mobile.find('div', class_='_30jeq3 _1_WHN1').text
  names.append(name)
  prices.append(price)
  rom = mobile.find('li', class_='rgWa7D').text
  roms.append(rom)
  ul= mobile.find('ul', class_='_1xgFaf')
  camera = ul.find_all("li")[2].text
  fc = camera.split(" | ")[1].split(" ")[0]
  front_camera.append(fc)

In [38]:
import pandas as pd
diction = {'names': names, 'prices': prices, 'roms': roms, 'front_camera':front_camera}
df = pd.DataFrame(diction)

In [40]:
df.head()

                                 names   prices       roms front_camera
0  APPLE iPhone 12 Mini (Black, 64 GB)  ₹49,999  64 GB ROM         12MP
1       APPLE iPhone 12 (Black, 64 GB)  ₹59,999  64 GB ROM         12MP
2       APPLE iPhone SE (Black, 64 GB)  ₹30,499  64 GB ROM          7MP
3   APPLE iPhone 12 Mini (Blue, 64 GB)  ₹49,999  64 GB ROM         12MP
4  APPLE iPhone 12 Mini (White, 64 GB)  ₹49,999  64 GB ROM         12MP

In [41]:
df.to_csv('apple_prices.csv')